@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

a{
	text-decoration: none;
	color: #fff;
}
h1{
	font-family: Lato;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
}
.main{
	width: 1110px;
	font-family: Lato, sans-serif;
}

.main-screen{
	position: relative;
	width: 1440px;
	height: 782px;
	margin: 0px auto;
	padding-top: 50px;
}
	.main-screen__bg{
	position: absolute;
	width: 100%;
	height: 782px;
	margin: 0px auto;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	}

	.main-screen__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		/*background-color: #000;*/
		width: 100%;
		height: 40px;
	}
		.main-screen__header_logo{
			background-image: url(../img/logo.png);
			width: 172px;
			height: 100%;
			background-repeat: no-repeat;
		}
		.main-screen__header_menu{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 455px;
			height: 100%;
			font-family: Lato;
			font-size: 14px;
			line-height: 17px;
		}
			.main-screen__header_menu a{
			text-decoration: none;
			color: #fff;
			}
		.main-screen__header_btns{
			width: 216px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			.main-screen__header_btns_language{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 96px;
				height: 100%;
				font-family: Lato;
				font-size: 14px;
				line-height: 17px;
				color: #fff;
			}
			.main-screen__header_btns_login{
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100px;
				height: 40px;
				border: 1px solid #fff;
				border-radius: 6px;
				font-family: Lato;
				font-size: 14px;
				line-height: 17px;
				color: #fff;
			}
	.main-screen__info{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 578px;
		height: 338px;
		margin: 140px auto;
	}
			.main-screen__info h1{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 578px;
				height: 86px;
				margin: 0 auto;
				font-family: Lato;
				font-weight: bold;
				font-size: 72px;
				line-height: 86px;
				color: #fff;
				letter-spacing: 0.05em;
		}
			.main-screen__info p{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 540px;
				height: 124px;
				margin: 39px auto;
				font-family: Lato;
				font-size: 24px;
				line-height: 150%;
				color: #fff;
				text-align: center;
		}
			.main-screen__info a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 160px;
				height: 50px;
				margin: 0px auto;
				border: 1px #fff solid;
				border-radius: 6px;
				background-color: #fff;
				color: #ED4C5C;
				font-family: Lato;
				font-size: 14px;
		}
.owerview-block{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
	.owerview-block__info{
		display: flex;
		flex-direction: column;
		width: 445px;
		height: 350px;
		margin-top: 140px;
	}
		.owerview-block__info h1{
			height: 84px;
			font-family: Lato;
			font-size: 36px;
			line-height: 43px;
		}
		.owerview-block__info p{
			height: 77px;
			font-family: Lato;
			font-size: 14px;
			line-height: 140%;
			margin: 47px auto 22px;
			text-align: justify;
		}
		.owerview-block__info a{
			height: 20px;
			text-decoration: none;
			color: #ED4C5C;
			font-family: Lato;
			font-size: 14px;
			line-height: 140%;
			color: #ED4C5C;
		}
	.owerview-block__video{
		width: 478px;
		height: 311px;
		margin-top: 94px;
		margin-left: 92px;
	}
		.owerview-block__video_play{
			margin-top: 123px;
			z-index: 1;
			position: absolute;
		}
		.owerview-block__video_img{
			margin-left: 33px;

		}

.features-block{
	width: 100%;
	height: 600px;
}

	.features-block__title{
		display: block;
		margin: 63px auto 81px;
		text-align: center; 
	}

	.features-block__cards{
		display: flex;
		justify-content: space-between;
		width: 1110px;
		height: 355px;
		margin: 0 auto;
	}
		.features-block__card{
			display: flex;
			flex-direction: column;
			width: 350px;
			height: 355px;
		}
			.features-block__card img{
				position: absolute;
				width: 350px;
				height: 250px;
			}
			.features-block__card__white-card{
				position: relative;
				width: 293px;
				height: 198px;
				background-color: #fff;
				border: 1px solid #fff;
				border-radius: 8px;
				margin: 157px 28px 0px;
			}
				.features-block__card__white-card_text{
					width: 229px;
					height: 136px;
					margin: 33px 32px;
				}
					.features-block__card__white-card_text h1{
						display: block;
						font-family: Lato;
						font-size: 18px;
						line-height: 22px;
						text-align: center;
					}
					.features-block__card__white-card_text p{
						display: block;
						font-family: Lato;
						font-size: 12px;
						line-height: 150%;
						text-align: center;
						margin-top: 20px;
						margin-bottom: 30px;
					}
					.features-block__card__white-card_text a{
						display: block;
						font-family: Lato;
						font-size: 12px;
						line-height: 150%;
						text-align: center;
						color: #ED4C5C;
					}
					